<!--
	Launch file for depthimage_to_map
	As of September 2nd 2021.
-->

<launch>

  <arg name="map_h" default="26.0" />
  <arg name="map_w" default="16.0" />
  <arg name="img_resolution" default="10.0" />
  <arg name="occ_map_grid_size" default="0.3" />
  <arg name="z_min_mapped" default="1.0" />
  <arg name="ref_frame" default="world" />
  <arg name="goal_position_x" default="1.0" />
  <arg name="goal_position_y" default="0.0" />
  <arg name="fly_height" default="2.0" />
  <arg name="security_distance" default="1.0" />
  <arg name="next_point_reached_dist" default="0.5" />
  <arg name="speed_controller" default="false" />
  <arg name="max_control_speed" default="1.0" />
  <arg name="x_safe_zone" default="0.0" />
  <arg name="filter_sensor" default="false" />

  <arg name="namespace"/>

  <group ns="$(arg namespace)">

  <!-- Depth Image to Laser Scan Node -->
  <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" args="">
    <!-- change here for your camera depth topic name. Default: "/camera/depth/image_raw" -->
    <!-- the remap for camera_info by default uses the same path as the one given to the image topic. Default: "<path_to_image_topic>/camera_info>" -->
    <remap from="image"       to="camera/depth/image_rect_raw"/>
    <remap from="camera_info" to="camera/depth/camera_info"/> 

    <!-- PARAMETERS: -->
    <!-- These are the default values. --> 
    <param name="scan_height"     type="int"    value="1"/> <!-- default: 1 pixel. Number of pixel rows used to generate laser scan. -->
    <param name="scan_time"       type="double" value="0.033"/> <!-- default:0.033, 30 FPS . Time between scans. -->
    <param name="range_min"       type="double" value="0.25"/> <!--default:0.45m. Ranges less than this are considered -Inf. -->
    <param name="range_max"       type="double" value="10.0"/> <!--default: 10m. Ranges less than this are considered +Inf. -->
    <param name="output_frame_id" type="str"    value="red/camera_depth_frame"/> <!--default: camera_depth_frame. Frame id of the laser scan. -->
      <!-- <param name="output_frame_id" type="str"    value="camera_depth_frame"/> --> <!--default: camera_depth_frame. Frame id of the laser scan. -->
    <param name="filter_sensor" value="true"/> 
	
  </node>

  <!-- Laser Scan to Map Node -->
  <node name="path_planner" pkg="path_planner" type="path_planner_node" output="screen" args="">

    <param name="map_h" type="double" value="$(arg map_h)"/>
    <param name="map_w" type="double" value="$(arg map_w)"/>
    <param name="img_resolution" type="double" value="$(arg img_resolution)"/>
    <param name="occ_grid_size" type="double" value="$(arg occ_map_grid_size)"/>
    <param name="z_min_th" type="double" value="$(arg z_min_mapped)"/>
    <param name="ref_frame" type="str" value="$(arg ref_frame)"/>
    <param name="goal_position_x" type="double" value="$(arg goal_position_x)"/>
    <param name="goal_position_y" type="double" value="$(arg goal_position_y)"/>
    <param name="fly_height" type="double" value="$(arg fly_height)"/>
    <param name="security_distance" type="double" value="$(arg security_distance)"/>
    <param name="next_point_reached_dist" type="double" value="$(arg next_point_reached_dist)"/>
    <param name="speed_controller" type="bool" value="$(arg speed_controller)"/>
    <param name="max_control_speed" type="double" value="$(arg max_control_speed)"/>
    <param name="x_safe_zone" type="double" value="$(arg x_safe_zone)"/>

  </node>

  </group>

</launch>
